@import 'colors';
@import 'base';
@import 'spacings';
@import 'typography';


.hero {
    background-color: $black;
    position: relative;
    height: 300px;
    padding-top: $lgSpacing;
    color: $White;

    h1 {
        text-align: center;
        padding-top: $lgSpacing;
        padding-left: $lgSpacing;
    }

}

.sectionProducts {

    .headphones-1 {
        display: flex;
        margin-top: $xxlSpacing;

        .image-1 {
            width: 500px;
            height: 500px;
            background-image: url('product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg');
            background-position: center;
            background-size: cover;
        }

        .description-1 {
            width: 500px;
            height: 500px;
            padding-left: $xxlSpacing;
            padding-top: $xlSpacing;

            h5 {
                font-size: 1rem;
                letter-spacing: 6px;
                color: $orange;
                font-weight: 100;
            }

            h1 {
                font-size: 3em;
                margin: 20px 0;
            }

            p {

                font-size: 1rem;
                opacity: 50%;
                line-height: 25px;
            }

            button {
                background-color: $orange;
                color: $White;

                &:hover {
                    background-color: $orangeLight;
                }
            }
        }
    }

    .headphones-2 {
        display: flex;
        margin-top: $xxlSpacing;

        .image-2 {
            background-image: url('product-xx99-mark-one-headphones/desktop/image-category-page-preview.jpg');
            background-position: center;
            background-size: cover;
            width: 500px;
            height: 500px;
        }

        .description-2 {
            width: 500px;
            height: 500px;
            padding-right: $xxlSpacing;
            padding-top: $xxlSpacing;
            h1 {
                font-size: 3em;
                margin: 20px 0;
            }

            p {

                font-size: 1rem;
                opacity: 50%;
                line-height: 25px;
            }

            button {
                background-color: $orange;
                color: $White;

                &:hover {
                    background-color: $orangeLight;
                }
            }
        }
    }
    .headphones-3 {
        display: flex;
        margin-top: $xxlSpacing;
        .image-3 {
            background-image: url('product-xx59-headphones/desktop/image-category-page-preview.jpg');
            background-position: center;
            background-size: cover;
            width: 500px;
            height: 500px;
        }
        .description-3 {
            width: 500px;
            height: 500px;
            padding-left: $xxlSpacing;
            padding-top: $xxlSpacing;
            h1 {
                font-size: 3em;
                margin: 20px 0;
            }

            p {

                font-size: 1rem;
                opacity: 50%;
                line-height: 25px;
            }

            button {
                background-color: $orange;
                color: $White;

                &:hover {
                    background-color: $orangeLight;
                }
            }
            
        }
    }
}