@import 'base';
@import 'colors';
@import 'spacings';
@import 'typography';
@import 'mixins';


@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
        padding: 0;
    }

    .hero {
        nav {
            ul {
                li {
                    position: relative;
                    padding-bottom: $baseSpacing - 8;

                    .line{
                        display: none;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &:hover:not(:first-of-type):after {
                       position: absolute;
                       content: ' ';
                       width: 20px;
                       border-bottom: 2px solid $white;
                       bottom: 0;
                       left: 50%;
                       transform: translateX(-50%);
                    }

                    &:hover .line {
                        display: block;
                        position: absolute;
                        content: ' ';
                        width: 20px;
                        border-bottom: 2px solid $white;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    .our-creations {
        .creations {
            article {
                @include images('desktop');

                &:hover{
                    h3{
                        position: relative;
                        z-index: 2;
                        color: $black;
                    }
                }
            }
        }

        button:hover{
            background-color: $black;
            color: $white;
            cursor: pointer;
        }
    }

    .footer{
        .social{
            ul{
                li{
                    position: relative;
                    padding-bottom: 10px;

                    &:hover{
                        cursor: pointer;
                    }
                    &:hover:after {
                        position: absolute;
                        content: ' ';
                        width: 20px;
                        border-bottom: 2px solid $white;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}
